uchcharaka-front/node_modules/
uchcharaka-front/dist/
uchcharaka-back/__pycache__/
uchcharaka-back/test/__pycache__
uchcharaka-back/uchcharaka/__pycache__/
uchcharaka-back/uchcharaka/ScriptMap/__pycache__/
uchcharaka-back/uchcharaka/ScriptMap/MainIndic/__pycache__/
uchcharaka-back/uchcharaka/ScriptMap/Roman/__pycache__/
uchcharaka-front/src/statics/NotoSansTamil-Regular-phonetic.otf
uchcharaka-back/uchcharaka/apitoken
uchcharaka-back/apitoken
